<article class="about article gradient-2">
        <h2 class="title container text-center">我们是谁</h2>
        <section class="about-section">
            <div class="section-inner container text-center">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                        <h3 class="subtitle">Our Story</h3>
                        <div class="content">
                            <p>我们是一家2014年底创办汽车O2O公司</p>
                        </div><!--//content-->
                        <a href="contact.html" class="btn btn-cta btn-cta-primary">联系我们</a>
                    </div>
                </div><!--//row-->
            </div><!--//section-inner-->
        </section><!--//about-->
    </article><!--//article-->
