<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App下载页面</title>
  <style>
  body{text-align: center;}
  img{width: 80%;}
  .logo {width: 40%; padding: 30px;}
  .title {color:#888;margin-bottom: 100px;}
  </style>
</head>
<body>
  <p>
    <%= image_tag 'app_logo.png', class: :logo %>
  </p>

  <p class="title">车主去那里，我们的服务就到哪里</p>

  <p>
    <%= link_to image_tag('buttons/down_iphone.png'), android_download_index_path, id: :android %>
  </p>

  <p>
    <a id="ios" href="https://itunes.apple.com/us/app/di-di-qu-na-er/id967901027?l=zh&ls=1&mt=8">
      <%= image_tag 'buttons/down_android.png' %>
    </a>
  </p>
  <%= javascript_include_tag 'download', 'data-turbolinks-track' => true %>
</body>
</html>
