<article class="jobs article gradient-9">
  <div class="header-wrapper container text-center">
    <h2 class="title">嘀嘀雄兵</h2>
  </div><!--//container-->
  <section id="contact-methods" class="contact-methods text-center">
    <div class="contact-methods-inner container">
      <div class="row">
        <div class="general item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
          <div class="item-inner">
            <h2 class="subtitle"><span class="pe-icon pe-7s-help1"></span>电话支持</h2>
            <ul class="list-unstyled">
              <li><a href="tel:4008004971">400 800 4971</a></li>
              <li>客服时间: 周一-周五 9am-5pm</li>
            </ul>
          </div><!--//inner-->
        </div><!--//general-->
        <div class="support item col-md-5 col-sm-6 col-xs-12 col-md-push-1 col-sm-push-0">
          <div class="item-inner">
            <h2 class="subtitle"><span class="pe-icon pe-7s-help2"></span>邮箱支持</h2>
            <ul class="list-unstyled">
              <li><a href="mailto:support@24didi.com">support@24didi.com</a></li>
              <li>客服时间: 周一-周五 9am-5pm</li>
            </ul>
          </div><!--//inner-->
        </div><!--//support-->
      </div><!--//row-->
    </div><!--//contact-methods-inner-->
  </section><!--//contact-methods-->
</article><!--//article-->
